# R files
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
.Rbuildignore

# Data - original/large datasets stay local
data/raw_data/*
data/preprocessed_data/*
# ...except necessary folder/files
!data/raw_data/.gitkeep
!data/preprocessed_data/.gitkeep
!data/preprocessed_data/BIODICAPT_*
!data/preprocessed_data/ENI500_*
!data/preprocessed_data/STOC_*
!data/preprocessed_data/CLC2018_*
!data/preprocessed_data/MASTER_*
!data/preprocessed_data/CHELSA_*

# Results - only show 1st k-fold remove others manually
outputs/results/STOC-OED/base-models/base-model_*-random-effect_k[2-5]
outputs/results/STOC-OED/sampling-size/model_train-size-*_random-none_k[2-5]
outputs/results/STOC-OED/strategies/model_*_random-none_k[2-5]

# Seed - hide to avoid reverse-engineering of raw_data
data/config/seed.R

# Test - exclude test scripts
tests/

# All - exclude large files
*.tif*