# R files
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
.Rbuildignore

# Data - original/large datasets stay local
data/raw_data/*
data/preprocessed_data/*
# ...except necessary folder/files
!data/raw_data/.gitkeep
!data/preprocessed_data/.gitkeep
!data/preprocessed_data/BIODICAPT_*
!data/preprocessed_data/ENI500_*
!data/preprocessed_data/STOC_*
!data/preprocessed_data/CLC2018_*
!data/preprocessed_data/CLC2018_*
!data/preprocessed_data/MASTER_*
!data/preprocessed_data/CHELSA_*

# Results - most outputs should stay local
outputs/results/*
# ...except important results 
!outputs/results/.gitkeep

# Seed - hide to avoid reverse-engineering of raw_data
data/config/seed.R

# Test - exclude test scripts
tests/

# All - exclude large files
*.tif*